.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.Hover:hover{
  cursor:pointer;
  transform:scale(1.08);
}

.picture-style{
  animation: bounce 0.9s ease infinite;
}

@keyframes bounce{
  from {transform: translateY(0);}
  to   {transform: translateY(-6px);}
}


